

clientApp/java/src/main/java/app/client.java
clientApp/java/pom.xml
clientApp/java/src/main/java/app/AppUser.java
clientApp/java/src/main/resources/log4j.xml



network/fabric
network/config
network/crypto-config

clientApp/java/.settings
clientApp/java/.classpath
clientApp/java/.project
clientApp/java/bin
clientApp/java/src/main/java/app/keys
clientApp/java/src/main/java/app/*.jso
clientApp/java/src/main/java/app/*.class
clientApp/java/src/main/java/app/*.jar
clientApp/java/target

clientApp/javascript/test.js

.vscode
